## This file gets firm returns

### Get firm returns

In [1]:
import pandas as pd;
import numpy as np;
import yfinance as yf

In [3]:
firm_df = pd.read_csv('ceo_data.csv')

In [4]:
firm_df

          Company Ticker  Year            CEO
0      Apple Inc.   AAPL  2010     Steve Jobs
1      Apple Inc.   AAPL  2011       Tim Cook
2      Apple Inc.   AAPL  2012       Tim Cook
3      Apple Inc.   AAPL  2013       Tim Cook
4      Apple Inc.   AAPL  2014       Tim Cook
..            ...    ...   ...            ...
675  VMware, Inc.    VMW  2015  Pat Gelsinger
676  VMware, Inc.    VMW  2016  Pat Gelsinger
677  VMware, Inc.    VMW  2017  Pat Gelsinger
678  VMware, Inc.    VMW  2018  Pat Gelsinger
679  VMware, Inc.    VMW  2019  Pat Gelsinger

[680 rows x 4 columns]

In [12]:
import yfinance as yf
import pandas as pd
from tqdm import tqdm

# Function to check if a ticker is valid
def is_ticker_valid(ticker, start_date='2010-01-01', end_date='2019-12-31'):
    try:
        data = yf.Ticker(ticker).history(start=start_date, end=end_date)
        return not data.empty
    except Exception:
        return False

# Assuming firm_df is defined
# firm_df = pd.DataFrame({'Ticker': ['AAPL', 'GOOGL', 'ARUN', 'CTXS']})

# Extract tickers
tickers = firm_df['Ticker'].drop_duplicates().tolist()

# Validate tickers with progress bar
valid_tickers = [ticker for ticker in tqdm(tickers, desc="Validating tickers") if is_ticker_valid(ticker)]

# Download data for all valid tickers at once
if valid_tickers:
    all_data = yf.download(valid_tickers, start='2010-01-01', end='2019-12-31', group_by='ticker')
else:
    print("No valid tickers found.")
    all_data = None

Validating tickers:  46%|██████████▍            | 31/68 [00:00<00:00, 39.46it/s]$XLNX: possibly delisted; no timezone found
$NLOK: possibly delisted; no timezone found
Validating tickers:  85%|███████████████████▌   | 58/68 [00:11<00:01,  7.51it/s]$CTXS: possibly delisted; no timezone found
Validating tickers:  91%|████████████████████▉  | 62/68 [00:18<00:03,  1.65it/s]$ARUN: possibly delisted; no price data found  (1d 2010-01-01 -> 2019-12-31)
Validating tickers:  99%|██████████████████████▋| 67/68 [00:22<00:00,  1.40it/s]$VMW: possibly delisted; no timezone found
Validating tickers: 100%|███████████████████████| 68/68 [00:24<00:00,  2.76it/s]
[*********************100%***********************]  63 of 63 completed

In [11]:
all_data

Ticker           FTNT                                                 SAIC  \
Price            Open       High        Low      Close   Volume       Open
Date
2010-01-04   1.788000   1.820000   1.763000   1.800000  3580000        NaN
2010-01-05   1.803000   1.860000   1.800000   1.839000  4114000        NaN
2010-01-06   1.888000   1.985000   1.880000   1.941000  9367000        NaN
2010-01-07   1.953000   1.961000   1.900000   1.945000  1376000        NaN
2010-01-08   1.955000   2.059000   1.922000   2.011000  4571000        NaN
...               ...        ...        ...        ...      ...        ...
2019-12-23  21.462000  21.658001  21.420000  21.563999  5817500  80.808275
2019-12-24  21.577999  21.662001  21.532000  21.556000  1553000  81.958071
2019-12-26  21.525999  21.889999  21.525999  21.648001  2065000  81.305003
2019-12-27  21.726000  21.740000  21.416000  21.490000  3641500  81.737322
2019-12-30  21.490000  21.577999  21.044001  21.389999  2974500  81.121019

Ticker                                                 ...      NVDA  \
Price            High        Low      Close    Volume  ...      Open
Date                                                   ...
2010-01-04        NaN        NaN        NaN       NaN  ...  0.424342
2010-01-05        NaN        NaN        NaN       NaN  ...  0.422279
2010-01-06        NaN        NaN        NaN       NaN  ...  0.429844
2010-01-07        NaN        NaN        NaN       NaN  ...  0.430532
2010-01-08        NaN        NaN        NaN       NaN  ...  0.420903
...               ...        ...        ...       ...  ...       ...
2019-12-23  82.684757  79.456104  82.316818  506400.0  ...  5.987347
2019-12-24  82.344403  81.231393  81.258987  177500.0  ...  5.929594
2019-12-26  81.958092  81.075042  81.507370  167200.0  ...  5.943534
2019-12-27  81.737322  81.139422  81.194611  189500.0  ...  5.969424
2019-12-30  81.295784  80.513918  80.707085  188100.0  ...  5.874579

Ticker                                                     ADBE              \
Price           High       Low     Close     Volume        Open        High
Date
2010-01-04  0.426864  0.415172  0.423884  800204000   36.650002   37.299999
2010-01-05  0.434658  0.422279  0.430073  728648000   37.040001   37.799999
2010-01-06  0.433741  0.425718  0.432824  649168000   37.330002   37.740002
2010-01-07  0.432366  0.421133  0.424342  547792000   37.410000   37.590000
2010-01-08  0.428239  0.418382  0.425259  478168000   36.750000   36.970001
...              ...       ...       ...        ...         ...         ...
2019-12-23  6.019459  5.934324  5.945028  355060000  328.829987  329.880005
2019-12-24  5.957225  5.895241  5.940049  138864000  329.000000  331.540009
2019-12-26  5.982368  5.924615  5.954238  182852000  329.630005  331.279999
2019-12-27  5.982867  5.870100  5.896487  254644000  332.880005  332.880005
2019-12-30  5.879806  5.751854  5.783220  258056000  330.350006  330.470001

Ticker
Price              Low       Close   Volume
Date
2010-01-04   36.650002   37.090000  4710200
2010-01-05   36.869999   37.700001  7108800
2010-01-06   37.200001   37.619999  5336400
2010-01-07   36.810001   36.889999  5576700
2010-01-08   36.340000   36.689999  5429200
...                ...         ...      ...
2019-12-23  327.260010  328.950012  2210600
2019-12-24  328.679993  329.640015  1066400
2019-12-26  329.630005  331.200012  1055100
2019-12-27  329.769989  330.790009  1229800
2019-12-30  325.170013  328.339996  1896700

[2515 rows x 310 columns]

In [110]:
import pandas as pd

# Assume 'all_data' is your DataFrame

# Initialize an empty list to collect mini-DataFrames
df_list = []

# Loop through each ticker in the first level of columns
for ticker in valid_tickers:
    try:
        # Get the Close prices for this ticker
        close_prices = all_data[ticker]['Close']
        
        # Calculate daily returns
        returns = close_prices.pct_change()

        # Build mini DataFrame
        temp_df = pd.DataFrame({
            'Ticker': ticker,
            'Year': close_prices.index.year,
            'Date': close_prices.index,
            'Close': close_prices.values,
            'Return': returns.values
        })

        df_list.append(temp_df)
    
    except Exception as e:
        print(f"Error processing {ticker}: {e}")

# Combine all into one big DataFrame
stock_prices = pd.concat(df_list, ignore_index=True)

In [111]:
firm_returns = pd.merge(stock_prices, firm_df, how='left', on = ['Ticker', 'Year'])

In [112]:
firm_returns

,Ticker,Year,Date,Close,Return,Company,CEO
0,AAPL,2010,2010-01-04,6.440331,NaN,Apple Inc.,Steve Jobs
1,AAPL,2010,2010-01-05,6.451465,0.001729,Apple Inc.,Steve Jobs
2,AAPL,2010,2010-01-06,6.348846,-0.015906,Apple Inc.,Steve Jobs
3,AAPL,2010,2010-01-07,6.337111,-0.001848,Apple Inc.,Steve Jobs
4,AAPL,2010,2010-01-08,6.379239,0.006648,Apple Inc.,Steve Jobs
...,...,...,...,...,...,...,...
158440,CHKP,2019,2019-12-23,111.750000,0.000627,Check Point Software Technologies Ltd.,Gil Shwed
158441,CHKP,2019,2019-12-24,111.580002,-0.001521,Check Point Software Technologies Ltd.,Gil Shwed
158442,CHKP,2019,2019-12-26,112.070000,0.004391,Check Point Software Technologies Ltd.,Gil Shwed
158443,CHKP,2019,2019-12-27,111.800003,-0.002409,Check Point Software Technologies Ltd.,Gil Shwed
158444,CHKP,2019,2019-12-30,111.680000,-0.001073,Check Point Software Technologies Ltd.,Gil Shwed

In [113]:
# Cumulative Returns on a daily basis

In [114]:
firm_returns['Tenure_Cum_Ret_Daily'] = \
(
    firm_returns
    .assign(R=1+stock_prices['Return'])
    .groupby(['Ticker', 'CEO'])
    ['R'].cumprod()
)

In [115]:
firm_returns['Year_Cum_Ret_Daily'] = \
(
    firm_returns
    .assign(R=1+stock_prices['Return'])
    .groupby(['Ticker', 'Year'])
    ['R'].cumprod()
)

In [116]:
# Cumulative Returns on a fixed basis

In [117]:
firm_returns['Tenure_Cum_Ret_Overall'] = (
    (1 + stock_prices['Return'])  # no need to .assign
    .groupby([firm_returns['Ticker'], firm_returns['CEO']])
    .transform('prod')  # broadcast full tenure cumulative return to each row
)

In [118]:
firm_returns['Year_Cum_Ret_Overall'] = (
    (1 + stock_prices['Return'])  # no need to .assign
    .groupby([firm_returns['Ticker'], firm_returns['Year']])
    .transform('prod')  # broadcast full tenure cumulative return to each row
)

In [125]:
#firm_returns[(firm_returns['CEO'] == 'Tim Cook') & (firm_returns['Year'] == 2012)]

In [120]:
firm_returns = firm_returns.drop(columns = ['Close'])

In [126]:
#firm_returns

In [122]:
firm_returns = firm_returns[['Date', 'Year', 'Ticker', 'Company', 'CEO', 'Return', 'Year_Cum_Ret_Daily', 'Tenure_Cum_Ret_Daily', 'Year_Cum_Ret_Overall', 'Tenure_Cum_Ret_Overall']]

In [123]:
firm_returns

,Date,Year,Ticker,Company,CEO,Return,Year_Cum_Ret_Daily,Tenure_Cum_Ret_Daily,Year_Cum_Ret_Overall,Tenure_Cum_Ret_Overall
0,2010-01-04,2010,AAPL,Apple Inc.,Steve Jobs,NaN,NaN,NaN,1.507219,1.507219
1,2010-01-05,2010,AAPL,Apple Inc.,Steve Jobs,0.001729,1.001729,1.001729,1.507219,1.507219
2,2010-01-06,2010,AAPL,Apple Inc.,Steve Jobs,-0.015906,0.985795,0.985795,1.507219,1.507219
3,2010-01-07,2010,AAPL,Apple Inc.,Steve Jobs,-0.001848,0.983973,0.983973,1.507219,1.507219
4,2010-01-08,2010,AAPL,Apple Inc.,Steve Jobs,0.006648,0.990514,0.990514,1.507219,1.507219
...,...,...,...,...,...,...,...,...,...,...
158440,2019-12-23,2019,CHKP,Check Point Software Technologies Ltd.,Gil Shwed,0.000627,1.088651,3.276165,1.087969,3.274113
158441,2019-12-24,2019,CHKP,Check Point Software Technologies Ltd.,Gil Shwed,-0.001521,1.086995,3.271181,1.087969,3.274113
158442,2019-12-26,2019,CHKP,Check Point Software Technologies Ltd.,Gil Shwed,0.004391,1.091768,3.285547,1.087969,3.274113
158443,2019-12-27,2019,CHKP,Check Point Software Technologies Ltd.,Gil Shwed,-0.002409,1.089138,3.277631,1.087969,3.274113
158444,2019-12-30,2019,CHKP,Check Point Software Technologies Ltd.,Gil Shwed,-0.001073,1.087969,3.274113,1.087969,3.274113

In [124]:
firm_returns.to_csv('inputs/firm_returns.csv', index = False)