## Photo Analyzer Test

In [1]:
import pandas as pd
import numpy as np
from deepface import DeepFace
import os

2025-04-29 23:16:45.138860: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [2]:
ceo_data = pd.read_csv('ceo_data.csv')

ceo_data

          Company Ticker  Year            CEO
0      Apple Inc.   AAPL  2010     Steve Jobs
1      Apple Inc.   AAPL  2011       Tim Cook
2      Apple Inc.   AAPL  2012       Tim Cook
3      Apple Inc.   AAPL  2013       Tim Cook
4      Apple Inc.   AAPL  2014       Tim Cook
..            ...    ...   ...            ...
665  VMware, Inc.    VMW  2015  Pat Gelsinger
666  VMware, Inc.    VMW  2016  Pat Gelsinger
667  VMware, Inc.    VMW  2017  Pat Gelsinger
668  VMware, Inc.    VMW  2018  Pat Gelsinger
669  VMware, Inc.    VMW  2019  Pat Gelsinger

[670 rows x 4 columns]

In [4]:
import os
import pandas as pd
from deepface import DeepFace
import tqdm

# Load your CSV with CEO and year data
ceo_df = pd.read_csv("ceo_data.csv").head(10)  # update path if needed

# Base directory where images are stored
base_dir = os.path.expanduser("~/Downloads/FIN377/CEOPersonalities-/pictures/")

# List to store all analysis results
all_data = []

# Loop through each row in the DataFrame
for index, row in tqdm.tqdm(ceo_df.iterrows()):
    ceo = row['CEO']
    year = str(row['Year'])
    ticker = row['Ticker']

    folder_path = os.path.join(base_dir, ceo, year)
    print(folder_path)
    if not os.path.exists(folder_path):
        print(f"Folder not found: {folder_path}")
        continue

    # Try to find the first valid image file
    image_file = None
    for file in os.listdir(folder_path):
        if file.lower().endswith(('.jpg', '.jpeg', '.png')):
            image_file = os.path.join(folder_path, file)
            break

    if not image_file:
        print(f"No image found in {folder_path}")
        continue

    try:
        result = DeepFace.analyze(img_path=image_file,
                                  actions=['age', 'gender', 'race', 'emotion'],
                                  detector_backend='opencv')
        data = result[0] if isinstance(result, list) else result

        flat_data = {
            'Ticker': ticker,
            'CEO': ceo,
            'Year': year,
            'Age': data['age'],
            'dominant_gender': data['dominant_gender'],
            'dominant_race': data['dominant_race'],
            'dominant_emotion': data['dominant_emotion'],
            **data['gender'],
            **data['race'],
            **data['emotion']
        }

        all_data.append(flat_data)
    except Exception as e:
        print(f"Error analyzing {image_file}: {e}")

# Create final results DataFrame
df = pd.DataFrame(all_data)
df.to_csv("ceo_face_analysis.csv", index=False)
print(df)

0it [00:00, ?it/s]

/Users/jessecoulter/Downloads/FIN377/CEOPersonalities-/pictures/Steve Jobs/2010

Finding actions:   0%|                                    | 0/4 [00:00<?, ?it/s]
Action: age:   0%|                                        | 0/4 [00:00<?, ?it/s]
Action: age:  25%|████████                        | 1/4 [00:02<00:06,  2.26s/it]
Action: gender:  25%|███████▎                     | 1/4 [00:02<00:06,  2.26s/it]
Action: gender:  50%|██████████████▌              | 2/4 [00:04<00:04,  2.12s/it]
Action: race:  50%|███████████████▌               | 2/4 [00:04<00:04,  2.12s/it]
Action: race:  75%|███████████████████████▎       | 3/4 [00:06<00:02,  2.02s/it]
Action: emotion:  75%|█████████████████████       | 3/4 [00:06<00:02,  2.02s/it]
Action: emotion: 100%|████████████████████████████| 4/4 [00:06<00:00,  1.59s/it]
1it [00:10, 10.30s/it]libpng warning: iCCP: known incorrect sRGB profile

/Users/jessecoulter/Downloads/FIN377/CEOPersonalities-/pictures/Tim Cook/2011

Finding actions:   0%|                                    | 0/4 [00:00<?, ?it/s]
Action: age:   0%|                                        | 0/4 [00:00<?, ?it/s]
Action: age:  25%|████████                        | 1/4 [00:00<00:00,  4.47it/s]
Action: gender:  25%|███████▎                     | 1/4 [00:00<00:00,  4.47it/s]
Action: gender:  50%|██████████████▌              | 2/4 [00:00<00:00,  4.43it/s]
Action: race:  50%|███████████████▌               | 2/4 [00:00<00:00,  4.43it/s]
Action: race:  75%|███████████████████████▎       | 3/4 [00:00<00:00,  4.49it/s]
Action: emotion: 100%|████████████████████████████| 4/4 [00:00<00:00,  5.82it/s]
2it [00:11,  4.69s/it]

/Users/jessecoulter/Downloads/FIN377/CEOPersonalities-/pictures/Tim Cook/2012

Finding actions:   0%|                                    | 0/4 [00:00<?, ?it/s]
Action: age:   0%|                                        | 0/4 [00:00<?, ?it/s]
Action: age:  25%|████████                        | 1/4 [00:00<00:00,  4.55it/s]
Action: gender:  25%|███████▎                     | 1/4 [00:00<00:00,  4.55it/s]
Action: gender:  50%|██████████████▌              | 2/4 [00:00<00:00,  4.53it/s]
Action: race:  50%|███████████████▌               | 2/4 [00:00<00:00,  4.53it/s]
Action: race:  75%|███████████████████████▎       | 3/4 [00:00<00:00,  4.48it/s]
Action: emotion: 100%|████████████████████████████| 4/4 [00:00<00:00,  5.85it/s]
3it [00:11,  2.91s/it]

/Users/jessecoulter/Downloads/FIN377/CEOPersonalities-/pictures/Tim Cook/2013

Finding actions:   0%|                                    | 0/4 [00:00<?, ?it/s]
Action: age:   0%|                                        | 0/4 [00:00<?, ?it/s]
Action: age:  25%|████████                        | 1/4 [00:00<00:00,  4.27it/s]
Action: gender:  25%|███████▎                     | 1/4 [00:00<00:00,  4.27it/s]
Action: gender:  50%|██████████████▌              | 2/4 [00:00<00:00,  4.34it/s]
Action: race:  50%|███████████████▌               | 2/4 [00:00<00:00,  4.34it/s]
Action: race:  75%|███████████████████████▎       | 3/4 [00:00<00:00,  4.41it/s]
Action: emotion: 100%|████████████████████████████| 4/4 [00:00<00:00,  5.70it/s]
4it [00:18,  4.52s/it]

/Users/jessecoulter/Downloads/FIN377/CEOPersonalities-/pictures/Tim Cook/2014

Finding actions:   0%|                                    | 0/4 [00:00<?, ?it/s]
Action: age:   0%|                                        | 0/4 [00:00<?, ?it/s]
Action: age:  25%|████████                        | 1/4 [00:00<00:00,  4.36it/s]
Action: gender:  25%|███████▎                     | 1/4 [00:00<00:00,  4.36it/s]
Action: gender:  50%|██████████████▌              | 2/4 [00:00<00:00,  4.56it/s]
Action: race:  50%|███████████████▌               | 2/4 [00:00<00:00,  4.56it/s]
Action: race:  75%|███████████████████████▎       | 3/4 [00:00<00:00,  4.62it/s]
Action: emotion: 100%|████████████████████████████| 4/4 [00:00<00:00,  5.96it/s]
5it [00:23,  4.41s/it]

/Users/jessecoulter/Downloads/FIN377/CEOPersonalities-/pictures/Tim Cook/2015

Finding actions:   0%|                                    | 0/4 [00:00<?, ?it/s]
Action: age:   0%|                                        | 0/4 [00:00<?, ?it/s]
Action: age:  25%|████████                        | 1/4 [00:00<00:00,  4.77it/s]
Action: gender:  25%|███████▎                     | 1/4 [00:00<00:00,  4.77it/s]
Action: gender:  50%|██████████████▌              | 2/4 [00:00<00:00,  4.63it/s]
Action: race:  50%|███████████████▌               | 2/4 [00:00<00:00,  4.63it/s]
Action: race:  75%|███████████████████████▎       | 3/4 [00:00<00:00,  4.64it/s]
Action: emotion: 100%|████████████████████████████| 4/4 [00:00<00:00,  6.04it/s]

Finding actions:   0%|                                    | 0/4 [00:00<?, ?it/s]
Action: age:   0%|                                        | 0/4 [00:00<?, ?it/s]
Action: age:  25%|████████                        | 1/4 [00:00<00:00,  4.70it/s]
Action: gender:  25%|███████▎                     | 1/4 [00:00<00:00,  4.70it/s]
Action: gender:  50%|██████████████▌              | 2/4 [00:00<00:00,  4.75it/s]
Action: race:  50%|███████████████▌               | 2/4 [00:00<00:00,  4.75it/s]
Action: race:  75%|███████████████████████▎       | 3/4 [00:00<00:00,  4.75it/s]
Action: emotion: 100%|████████████████████████████| 4/4 [00:00<00:00,  6.17it/s]
6it [00:24,  3.43s/it]

/Users/jessecoulter/Downloads/FIN377/CEOPersonalities-/pictures/Tim Cook/2016

Finding actions:   0%|                                    | 0/4 [00:00<?, ?it/s]
Action: age:   0%|                                        | 0/4 [00:00<?, ?it/s]
Action: age:  25%|████████                        | 1/4 [00:00<00:00,  4.64it/s]
Action: gender:  25%|███████▎                     | 1/4 [00:00<00:00,  4.64it/s]
Action: gender:  50%|██████████████▌              | 2/4 [00:00<00:00,  4.71it/s]
Action: race:  50%|███████████████▌               | 2/4 [00:00<00:00,  4.71it/s]
Action: race:  75%|███████████████████████▎       | 3/4 [00:00<00:00,  4.69it/s]
Action: emotion: 100%|████████████████████████████| 4/4 [00:00<00:00,  6.10it/s]
7it [00:25,  2.58s/it]

/Users/jessecoulter/Downloads/FIN377/CEOPersonalities-/pictures/Tim Cook/2017

Finding actions:   0%|                                    | 0/4 [00:00<?, ?it/s]
Action: age:   0%|                                        | 0/4 [00:00<?, ?it/s]
Action: age:  25%|████████                        | 1/4 [00:00<00:00,  4.66it/s]
Action: gender:  25%|███████▎                     | 1/4 [00:00<00:00,  4.66it/s]
Action: gender:  50%|██████████████▌              | 2/4 [00:00<00:00,  4.33it/s]
Action: race:  50%|███████████████▌               | 2/4 [00:00<00:00,  4.33it/s]
Action: race:  75%|███████████████████████▎       | 3/4 [00:00<00:00,  4.29it/s]
Action: emotion: 100%|████████████████████████████| 4/4 [00:00<00:00,  5.64it/s]
8it [00:26,  2.04s/it]

/Users/jessecoulter/Downloads/FIN377/CEOPersonalities-/pictures/Tim Cook/2018

Finding actions:   0%|                                    | 0/4 [00:00<?, ?it/s]
Action: age:   0%|                                        | 0/4 [00:00<?, ?it/s]
Action: age:  25%|████████                        | 1/4 [00:00<00:00,  4.62it/s]
Action: gender:  25%|███████▎                     | 1/4 [00:00<00:00,  4.62it/s]
Action: gender:  50%|██████████████▌              | 2/4 [00:00<00:00,  4.66it/s]
Action: race:  50%|███████████████▌               | 2/4 [00:00<00:00,  4.66it/s]
Action: race:  75%|███████████████████████▎       | 3/4 [00:00<00:00,  4.64it/s]
Action: emotion: 100%|████████████████████████████| 4/4 [00:00<00:00,  6.03it/s]

Finding actions:   0%|                                    | 0/4 [00:00<?, ?it/s]
Action: age:   0%|                                        | 0/4 [00:00<?, ?it/s]
Action: age:  25%|████████                        | 1/4 [00:00<00:00,  4.64it/s]
Action: gender:  25%|███████▎                     | 1/4 [00:00<00:00,  4.64it/s]
Action: gender:  50%|██████████████▌              | 2/4 [00:00<00:00,  4.71it/s]
Action: race:  50%|███████████████▌               | 2/4 [00:00<00:00,  4.71it/s]
Action: race:  75%|███████████████████████▎       | 3/4 [00:00<00:00,  4.64it/s]
Action: emotion: 100%|████████████████████████████| 4/4 [00:00<00:00,  6.05it/s]
9it [00:27,  1.86s/it]

/Users/jessecoulter/Downloads/FIN377/CEOPersonalities-/pictures/Tim Cook/2019

10it [00:28,  2.86s/it]

Error analyzing /Users/jessecoulter/Downloads/FIN377/CEOPersonalities-/pictures/Tim Cook/2019/pic1.jpg: Face could not be detected in /Users/jessecoulter/Downloads/FIN377/CEOPersonalities-/pictures/Tim Cook/2019/pic1.jpg.Please confirm that the picture is a face photo or consider to set enforce_detection param to False.
  Ticker         CEO  Year  Age dominant_gender    dominant_race  \
0   AAPL  Steve Jobs  2010   44             Man            white
1   AAPL    Tim Cook  2011   28             Man            white
2   AAPL    Tim Cook  2012   43             Man            asian
3   AAPL    Tim Cook  2013   49             Man            white
4   AAPL    Tim Cook  2014   36             Man            white
5   AAPL    Tim Cook  2015   24             Man            asian
6   AAPL    Tim Cook  2016   38             Man            white
7   AAPL    Tim Cook  2017   24             Man  latino hispanic
8   AAPL    Tim Cook  2018   31             Man            white

  dominant_emotion     Woman        Man       asian  ...         white  \
0            happy  0.004014  99.995983    0.001331  ...  9.670777e+01
1            happy  0.003152  99.996853    0.264899  ...  7.717206e+01
2            happy  0.513920  99.486083   57.686383  ...  1.504185e+01
3            angry  0.007185  99.992812    0.000218  ...  9.933365e+01
4            happy  0.004398  99.995601    1.177634  ...  6.818322e+01
5              sad  0.015229  99.984765  100.000000  ...  1.386616e-21
6            happy  0.090989  99.909008    0.130911  ...  8.386320e+01
7            happy  0.000194  99.999809    6.127222  ...  3.284589e+01
8              sad  0.020933  99.979073    0.339367  ...  7.558904e+01

   middle eastern  latino hispanic         angry       disgust          fear  \
0    2.478744e+00     8.044298e-01  2.470992e-03  1.646483e-05  7.875419e-04
1    8.134229e+00     1.404062e+01  6.092452e-09  1.726148e-14  5.900745e-11
2    3.866713e+00     1.853085e+01  5.322561e-06  4.841463e-28  1.018756e-18
3    4.254620e-01     2.400021e-01  2.869309e+01  9.116413e-02  3.961206e+00
4    1.395721e+01     1.497731e+01  3.205719e-05  7.279506e-07  2.677862e-02
5    8.819488e-28     1.000405e-19  4.112279e+01  3.087655e-03  5.024599e-03
6    1.004715e+01     5.517444e+00  6.373798e-06  1.269932e-15  8.298245e-11
7    1.810119e+01     3.462997e+01  1.629665e-05  2.872297e-10  1.564959e-07
8    6.915987e+00     1.688048e+01  6.795854e+00  1.552997e-03  5.080240e-01

       happy           sad      surprise    neutral
0  98.549509  1.908541e-04  1.189749e-03   1.445839
1  99.608034  1.010131e-06  5.152697e-06   0.391961
2  99.999976  2.524015e-11  1.415219e-16   0.000023
3   4.080816  2.646733e+01  1.288970e+01  23.816700
4  99.691510  7.763840e-05  6.675377e-03   0.274925
5   0.037403  5.728540e+01  1.458461e-11   1.546302
6  99.235034  1.321597e-06  1.034687e-07   0.764962
7  98.991501  4.327477e-05  1.800822e-05   1.008419
8   0.014606  9.049497e+01  5.360118e-04   2.184458

[9 rows x 22 columns]

In [5]:
df

,Ticker,CEO,Year,Age,dominant_gender,dominant_race,dominant_emotion,Woman,Man,asian,...,white,middle eastern,latino hispanic,angry,disgust,fear,happy,sad,surprise,neutral
0,AAPL,Steve Jobs,2010,44,Man,white,happy,0.004014,99.995983,0.001331,...,9.670777e+01,2.478744e+00,8.044298e-01,2.470992e-03,1.646483e-05,7.875419e-04,98.549509,1.908541e-04,1.189749e-03,1.445839
1,AAPL,Tim Cook,2011,28,Man,white,happy,0.003152,99.996853,0.264899,...,7.717206e+01,8.134229e+00,1.404062e+01,6.092452e-09,1.726148e-14,5.900745e-11,99.608034,1.010131e-06,5.152697e-06,0.391961
2,AAPL,Tim Cook,2012,43,Man,asian,happy,0.513920,99.486083,57.686383,...,1.504185e+01,3.866713e+00,1.853085e+01,5.322561e-06,4.841463e-28,1.018756e-18,99.999976,2.524015e-11,1.415219e-16,0.000023
3,AAPL,Tim Cook,2013,49,Man,white,angry,0.007185,99.992812,0.000218,...,9.933365e+01,4.254620e-01,2.400021e-01,2.869309e+01,9.116413e-02,3.961206e+00,4.080816,2.646733e+01,1.288970e+01,23.816700
4,AAPL,Tim Cook,2014,36,Man,white,happy,0.004398,99.995601,1.177634,...,6.818322e+01,1.395721e+01,1.497731e+01,3.205719e-05,7.279506e-07,2.677862e-02,99.691510,7.763840e-05,6.675377e-03,0.274925
5,AAPL,Tim Cook,2015,24,Man,asian,sad,0.015229,99.984765,100.000000,...,1.386616e-21,8.819488e-28,1.000405e-19,4.112279e+01,3.087655e-03,5.024599e-03,0.037403,5.728540e+01,1.458461e-11,1.546302
6,AAPL,Tim Cook,2016,38,Man,white,happy,0.090989,99.909008,0.130911,...,8.386320e+01,1.004715e+01,5.517444e+00,6.373798e-06,1.269932e-15,8.298245e-11,99.235034,1.321597e-06,1.034687e-07,0.764962
7,AAPL,Tim Cook,2017,24,Man,latino hispanic,happy,0.000194,99.999809,6.127222,...,3.284589e+01,1.810119e+01,3.462997e+01,1.629665e-05,2.872297e-10,1.564959e-07,98.991501,4.327477e-05,1.800822e-05,1.008419
8,AAPL,Tim Cook,2018,31,Man,white,sad,0.020933,99.979073,0.339367,...,7.558904e+01,6.915987e+00,1.688048e+01,6.795854e+00,1.552997e-03,5.080240e-01,0.014606,9.049497e+01,5.360118e-04,2.184458

In [6]:
firm_ret = pd.read_csv('inputs/firm_returns.csv')

In [7]:
firm_ret

,Date,Year,Ticker,Company,CEO,Return,Year_Cum_Ret_Daily,Tenure_Cum_Ret_Daily,Year_Cum_Ret_Overall,Tenure_Cum_Ret_Overall
0,2010-01-04,2010,AAPL,Apple Inc.,Steve Jobs,NaN,NaN,NaN,1.507219,1.507219
1,2010-01-05,2010,AAPL,Apple Inc.,Steve Jobs,0.001729,1.001729,1.001729,1.507219,1.507219
2,2010-01-06,2010,AAPL,Apple Inc.,Steve Jobs,-0.015906,0.985795,0.985795,1.507219,1.507219
3,2010-01-07,2010,AAPL,Apple Inc.,Steve Jobs,-0.001848,0.983973,0.983973,1.507219,1.507219
4,2010-01-08,2010,AAPL,Apple Inc.,Steve Jobs,0.006648,0.990514,0.990514,1.507219,1.507219
...,...,...,...,...,...,...,...,...,...,...
158440,2019-12-23,2019,CHKP,Check Point Software Technologies Ltd.,Gil Shwed,0.000627,1.088651,3.276165,1.087969,3.274113
158441,2019-12-24,2019,CHKP,Check Point Software Technologies Ltd.,Gil Shwed,-0.001521,1.086995,3.271181,1.087969,3.274113
158442,2019-12-26,2019,CHKP,Check Point Software Technologies Ltd.,Gil Shwed,0.004391,1.091768,3.285547,1.087969,3.274113
158443,2019-12-27,2019,CHKP,Check Point Software Technologies Ltd.,Gil Shwed,-0.002409,1.089138,3.277631,1.087969,3.274113
158444,2019-12-30,2019,CHKP,Check Point Software Technologies Ltd.,Gil Shwed,-0.001073,1.087969,3.274113,1.087969,3.274113

In [8]:
df['Year'] = df['Year'].astype(int)
firm_ret['Year'] = firm_ret['Year'].astype(int)


output_daily = pd.merge(df, firm_ret, how = 'inner', on = ['Year', 'Ticker', 'CEO'])

output_daily

,Ticker,CEO,Year,Age,dominant_gender,dominant_race,dominant_emotion,Woman,Man,asian,...,sad,surprise,neutral,Date,Company,Return,Year_Cum_Ret_Daily,Tenure_Cum_Ret_Daily,Year_Cum_Ret_Overall,Tenure_Cum_Ret_Overall
0,AAPL,Steve Jobs,2010,44,Man,white,happy,0.004014,99.995983,0.001331,...,0.000191,0.001190,1.445839,2010-01-04,Apple Inc.,NaN,NaN,NaN,1.507219,1.507219
1,AAPL,Steve Jobs,2010,44,Man,white,happy,0.004014,99.995983,0.001331,...,0.000191,0.001190,1.445839,2010-01-05,Apple Inc.,0.001729,1.001729,1.001729,1.507219,1.507219
2,AAPL,Steve Jobs,2010,44,Man,white,happy,0.004014,99.995983,0.001331,...,0.000191,0.001190,1.445839,2010-01-06,Apple Inc.,-0.015906,0.985795,0.985795,1.507219,1.507219
3,AAPL,Steve Jobs,2010,44,Man,white,happy,0.004014,99.995983,0.001331,...,0.000191,0.001190,1.445839,2010-01-07,Apple Inc.,-0.001848,0.983973,0.983973,1.507219,1.507219
4,AAPL,Steve Jobs,2010,44,Man,white,happy,0.004014,99.995983,0.001331,...,0.000191,0.001190,1.445839,2010-01-08,Apple Inc.,0.006648,0.990514,0.990514,1.507219,1.507219
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2259,AAPL,Tim Cook,2018,31,Man,white,sad,0.020933,99.979073,0.339367,...,90.494971,0.000536,2.184458,2018-12-24,Apple Inc.,-0.025874,0.880662,3.607914,0.946098,7.270871
2260,AAPL,Tim Cook,2018,31,Man,white,sad,0.020933,99.979073,0.339367,...,90.494971,0.000536,2.184458,2018-12-26,Apple Inc.,0.070422,0.942679,3.861989,0.946098,7.270871
2261,AAPL,Tim Cook,2018,31,Man,white,sad,0.020933,99.979073,0.339367,...,90.494971,0.000536,2.184458,2018-12-27,Apple Inc.,-0.006490,0.936561,3.836925,0.946098,7.270871
2262,AAPL,Tim Cook,2018,31,Man,white,sad,0.020933,99.979073,0.339367,...,90.494971,0.000536,2.184458,2018-12-28,Apple Inc.,0.000513,0.937041,3.838891,0.946098,7.270871
2263,AAPL,Tim Cook,2018,31,Man,white,sad,0.020933,99.979073,0.339367,...,90.494971,0.000536,2.184458,2018-12-31,Apple Inc.,0.009665,0.946098,3.875995,0.946098,7.270871

In [17]:
output_daily = output_daily[['Year', 'Date', 'Ticker', 'Company', 'CEO', 'Age', 'dominant_gender', 'dominant_race', 'dominant_emotion', 
                  'Woman', 'Man', 'asian', 'indian', 'black', 'white',
       'middle eastern', 'latino hispanic', 'angry', 'disgust', 'fear',
       'happy', 'sad', 'surprise', 'neutral', 'Return',
       'Year_Cum_Ret_Daily', 'Tenure_Cum_Ret_Daily', 'Year_Cum_Ret_Overall',
       'Tenure_Cum_Ret_Overall']]

output_daily.to_csv('outputs/output_daily.csv', index=False)

output_daily

,Year,Date,Ticker,Company,CEO,Age,dominant_gender,dominant_race,dominant_emotion,Woman,...,fear,happy,sad,surprise,neutral,Return,Year_Cum_Ret_Daily,Tenure_Cum_Ret_Daily,Year_Cum_Ret_Overall,Tenure_Cum_Ret_Overall
0,2010,2010-01-04,AAPL,Apple Inc.,Steve Jobs,44,Man,white,happy,0.004014,...,0.000788,98.549509,0.000191,0.001190,1.445839,NaN,NaN,NaN,1.507219,1.507219
1,2010,2010-01-05,AAPL,Apple Inc.,Steve Jobs,44,Man,white,happy,0.004014,...,0.000788,98.549509,0.000191,0.001190,1.445839,0.001729,1.001729,1.001729,1.507219,1.507219
2,2010,2010-01-06,AAPL,Apple Inc.,Steve Jobs,44,Man,white,happy,0.004014,...,0.000788,98.549509,0.000191,0.001190,1.445839,-0.015906,0.985795,0.985795,1.507219,1.507219
3,2010,2010-01-07,AAPL,Apple Inc.,Steve Jobs,44,Man,white,happy,0.004014,...,0.000788,98.549509,0.000191,0.001190,1.445839,-0.001848,0.983973,0.983973,1.507219,1.507219
4,2010,2010-01-08,AAPL,Apple Inc.,Steve Jobs,44,Man,white,happy,0.004014,...,0.000788,98.549509,0.000191,0.001190,1.445839,0.006648,0.990514,0.990514,1.507219,1.507219
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2259,2018,2018-12-24,AAPL,Apple Inc.,Tim Cook,31,Man,white,sad,0.020933,...,0.508024,0.014606,90.494971,0.000536,2.184458,-0.025874,0.880662,3.607914,0.946098,7.270871
2260,2018,2018-12-26,AAPL,Apple Inc.,Tim Cook,31,Man,white,sad,0.020933,...,0.508024,0.014606,90.494971,0.000536,2.184458,0.070422,0.942679,3.861989,0.946098,7.270871
2261,2018,2018-12-27,AAPL,Apple Inc.,Tim Cook,31,Man,white,sad,0.020933,...,0.508024,0.014606,90.494971,0.000536,2.184458,-0.006490,0.936561,3.836925,0.946098,7.270871
2262,2018,2018-12-28,AAPL,Apple Inc.,Tim Cook,31,Man,white,sad,0.020933,...,0.508024,0.014606,90.494971,0.000536,2.184458,0.000513,0.937041,3.838891,0.946098,7.270871
2263,2018,2018-12-31,AAPL,Apple Inc.,Tim Cook,31,Man,white,sad,0.020933,...,0.508024,0.014606,90.494971,0.000536,2.184458,0.009665,0.946098,3.875995,0.946098,7.270871

In [15]:
output_yearly = output_daily.groupby(['CEO', 'Year', 'Ticker'], as_index=False).first()

output_yearly = output_yearly.drop(columns = ['Year_Cum_Ret_Daily', 'Tenure_Cum_Ret_Daily', 'Return'])

output_yearly = output_yearly[['Year', 'Ticker', 'CEO', 'Age', 'dominant_gender', 'dominant_race', 'dominant_emotion', 
                  'Woman', 'Man', 'asian', 'indian', 'black', 'white',
       'middle eastern', 'latino hispanic', 'angry', 'disgust', 'fear',
       'happy', 'sad', 'surprise', 'neutral', 'Year_Cum_Ret_Overall',
       'Tenure_Cum_Ret_Overall']]

output_yearly.to_csv('outputs/output_yearly.csv', index=False)

output_yearly

,Year,Ticker,CEO,Age,dominant_gender,dominant_race,dominant_emotion,Woman,Man,asian,...,latino hispanic,angry,disgust,fear,happy,sad,surprise,neutral,Year_Cum_Ret_Overall,Tenure_Cum_Ret_Overall
0,2010,AAPL,Steve Jobs,44,Man,white,happy,0.004014,99.995983,0.001331,...,8.044298e-01,2.470992e-03,1.646483e-05,7.875419e-04,98.549509,1.908541e-04,1.189749e-03,1.445839,1.507219,1.507219
1,2011,AAPL,Tim Cook,28,Man,white,happy,0.003152,99.996853,0.264899,...,1.404062e+01,6.092452e-09,1.726148e-14,5.900745e-11,99.608034,1.010131e-06,5.152697e-06,0.391961,1.255581,7.270871
2,2012,AAPL,Tim Cook,43,Man,asian,happy,0.513920,99.486083,57.686383,...,1.853085e+01,5.322561e-06,4.841463e-28,1.018756e-18,99.999976,2.524015e-11,1.415219e-16,0.000023,1.325669,7.270871
3,2013,AAPL,Tim Cook,49,Man,white,angry,0.007185,99.992812,0.000218,...,2.400021e-01,2.869309e+01,9.116413e-02,3.961206e+00,4.080816,2.646733e+01,1.288970e+01,23.816700,1.080695,7.270871
4,2014,AAPL,Tim Cook,36,Man,white,happy,0.004398,99.995601,1.177634,...,1.497731e+01,3.205719e-05,7.279506e-07,2.677862e-02,99.691510,7.763840e-05,6.675377e-03,0.274925,1.406225,7.270871
5,2015,AAPL,Tim Cook,24,Man,asian,sad,0.015229,99.984765,100.000000,...,1.000405e-19,4.112279e+01,3.087655e-03,5.024599e-03,0.037403,5.728540e+01,1.458461e-11,1.546302,0.969863,7.270871
6,2016,AAPL,Tim Cook,38,Man,white,happy,0.090989,99.909008,0.130911,...,5.517444e+00,6.373798e-06,1.269932e-15,8.298245e-11,99.235034,1.321597e-06,1.034687e-07,0.764962,1.124804,7.270871
7,2017,AAPL,Tim Cook,24,Man,latino hispanic,happy,0.000194,99.999809,6.127222,...,3.462997e+01,1.629665e-05,2.872297e-10,1.564959e-07,98.991501,4.327477e-05,1.800822e-05,1.008419,1.484643,7.270871
8,2018,AAPL,Tim Cook,31,Man,white,sad,0.020933,99.979073,0.339367,...,1.688048e+01,6.795854e+00,1.552997e-03,5.080240e-01,0.014606,9.049497e+01,5.360118e-04,2.184458,0.946098,7.270871